@font-face {
    font-family: 'Futura New';
    src: local('Futura New Book Reg'), local('Futura-New-Book-Reg'),
        url('FuturaNewBook-Reg.woff2') format('woff2'),
        url('FuturaNewBook-Reg.woff') format('woff'),
        url('FuturaNewBook-Reg.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }